.navbar.center .navbar-collapse {
    text-align: center;
}
.navbar.center .navbar-collapse .nav {
    float: none;
    display:inline-block;
}

#jumbo-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	/*overflow: auto;*/
}
#img-jumbo{
/*	position: relative;*/
	width: 100%;
	height: 800px;
    background: transparent;
}
#overlay-jumbo{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
	overflow: auto;
    background: rgba(235, 35, 35, .1);
}
#div-logo{
	position: absolute;
	top: 10%;
	width: 100%;
	text-align: center;
	opacity: 1;
}
#div-logo #name{
	color: #ccc;
	margin-top: -50px;
	font-family: 'Source Sans Pro', sans-serif;
}
 #div-logo #profession{
 	color: #ccc;
 }
